@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.inputs{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(to right, #f12711, #f5af19);
    color: #ffffff;
    padding: 70px 0;
    font-size: 5rem;
}

section{
    text-align: center;
}

.description{
    font-family: 'Open Sans', sans-serif;
    padding: 40px 100px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

button{
    background: #1554c9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px;
}
button:hover{
    cursor: pointer;
    background: #0a3586;
}

input{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding: 6px 6px;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem 200px;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    border: solid;
    border-width: 1px;
    border-color: #000000;
}
.divgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 5fr;
}

.tempolegenda{
    background: #cecece;
}

.checkmark{
    background-color: #f12711;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
.checkmark:hover{
    cursor: pointer;
    background-color: #c02311;
}